html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh - 10px;
  width: 100vw;
  font-size: 2rem;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.form {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-control {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-control > label {
  font-size: 1.8rem;
}

.form-control > input {
  max-width: 80px;
  font-size: 1.7rem;
  border: 2px solid rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.form-control > input:focus {
  outline: none;
  border-color: #3bacee;
  background-color: rgba(100, 100, 100, 0.1);
}

.chart-container {
  width: 100%;
}

button {
  padding: 10px;
  color: #fff;
  margin-top: 50px;
  font-size: 1.7rem;
  border: none;
  border-radius: 10px 5px;
  background-color: #3b8eee;
  transition: all 0.5s;
}

button:hover {
  background-color: #3bacee;
  box-shadow: 0px 5px 10px #bdddf0;
}

button:active {
  transform: translate(0, 10px);
}

button:focus {
  outline: none;
}

/* ToolTip */
.tooltip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 5px 3px;
}

.underline {
  background-color: #e68240;
  width: 90%;
  height: 2px;
}

.age,
.amount {
  margin: 1px;
  color: #fff;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.name {
  margin-left: 5px;
}

.thumbnail {
  margin: 10px;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}
